<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width = device-width initial-scale=1.0">
   <title>New User Signup</title>
   <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="css/font-awesome/css/font-awesome.css">
   <link rel="stylesheet" href="libs/bootstrap3.3.7/css/bootstrap.min.css">
      <script type="text/javascript" src="js/main.js"></script>
   <script type="text/javascript" src="js/jquery-3.2.0.js"></script>
   <script type="text/javascript" src="libs/bootstrap3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
   
<style>
   .navbar{
      background-color: #0F488A !important;
      border:none !important;
      text-align: right;
      width: 100% !important;
   }

   .nav li a:hover{
  color: #017eb7 !important ; 
  }
</style>

   <nav class="navbar navbar-default" role="navigation">
      <div class="container">
         <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle= "collapse" data-target="#nav-links">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>

            <a href="" class="navbar-brand"><img src="images/hb-logo2.png" alt=""></a>
         </div>

         <div class="collapse navbar-collapse" id="nav-links">
            <!--Notification starts -->
            <div class="notification">
              <div class="dropdown notify-icon">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope"></i>
                  <div class="notification-number">
                    <svg>
                        <circle cx="5" cy="7" r="7" fill="red"></circle>
                        <text x="7" y="11" text-anchor="middle" fill="white">3</text>
                    </svg>
                  </div>
                  <ul class="dropdown-menu">
                        <li><a href="books.html">Tolulope borrowed Angular 2 book</a></li>
                        <li><a href="books.html">You have pending book returns </a></li>
                        <li><a href="books.html">New book uploaded</a></li>
                     </ul>
                </a>
              </div>
              <div class="user-holder">
                <div class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="images/icon.png" alt=""><span class="caret"></span>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="createbook.html">Create Book</a></li>
                        <li class="divider"></li>
                        <li><a href="login.html" class="btn btn-danger btn-sm logout">Logout</a></li>
                     </ul>
                 </a>
                </div>
              </div>
            </div>
            <!-- Notification ends -->
         </div>
      </div>
   </nav>


<!-- SECTION FOR BOOKS  -->
<!-- ****************** -->


  <div class="container profile">
    <div class="row">
      <div class="col-xs-12">
        <div class="history-header">
          <h3>ADMIN DASHBOARD</h3>
        </div>
      </div>
    </div>
    

    <div class="row summary_img-holder">

        <div class="col-xs-12 summary">
            
            <div class="item summary-header">
              <table class="summary-table">
                <thead>
                  <th>SUMMARY</th>
                </thead>

                <tbody>
                  <tr>
                    <td>Total Books Borrowed</td>
                    <td>3</td>
                  </tr>

                  <tr>
                    <td>Books Returned</td>
                    <td>1</td>
                  </tr>

                  <tr>
                    <td>Pending Return</td>
                    <td>1</td>
                  </tr>

                  <tr>
                    <td>Most Borrowed book</td>
                    <td>Angular 2, React for Beginners...</td>
                  </tr>
                </tbody>
              </table>
            </div>
              
        </div>
        <!-- <div class="col-xs-8"></div> -->
    </div>
  </div><!-- Ends the container -->    

  
    <div class="container filter-table">
        <h4>Filter table</h4>

      <div class="form-group col-xs-3" style="padding-left:0">
        <select name="Filter option" class="form-control input-sm" id="filter-option">
          <option value="AllBooks">All Books</option>
          <option value="ReturnedBooks">Returned Books</option>
          <option value="ReturnedBooks">Books Awaiting Return Confirmation</option>
          <option value="MostBorrowed">Most Borrowed Books</option>
          <option value="PendingReturn">Pending Return</option>
        </select>
      </div>  
    </div>

    <div class="container list-books">
      <div class="table-responsive">          
        <table class="table table-hover">
          <thead style="background-color:#0F488A; color:white">
            <tr>
              <th>#</th>
              <th>Book Title</th>
              <th>Author</th>
              <th>Borrower</th>
              <th>Member Type</th>
              <th>Date Borrowed</th>
              <th>Expected Return Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Practical Business Anal...</td>
              <td>Abbey Delight</td>
              <td>Olajumoke Lewis</td>
              <td>Bronze</td>
              <td>26th-July-2017</td>
              <td>31th-July-2017</td>
              <!-- <td><button class="btn btn-primary">Read</button> | <button class="btn btn-primary">Return</button> </td> -->
            </tr>

          <!-- ROW 2 -->
            <tr>
              <td>2</td>
              <td>Act like a success...</td>
              <td>Steve Harvey</td>
              <td>Olagunju Mayowa</td>
              <td>Silver</td>
              <td>30th-July-2017</td>
              <td>3th-August-2017</td>
            </tr>

            <!-- row 3 -->
            <tr>
              <td>3</td>
              <td>Learn Angular 2</td>
              <td>Jeremy Hondara</td>
              <td>Ted Cruise</td>
              <td>Gold</td>
              <td>2nd-July-2017</td>
              <td>6th-July-2017</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>

    <!-- FOOTER -->
    <div class="footer">
        <p>All rights Resereced, Andela Bootcamp 25, 2017</p>
    </div>

</body>
</html>