<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width = device-width initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="libs/bootstrap3.3.7/css/bootstrap.min.css">
   <script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/jquery-3.2.0.js"></script>
	<script type="text/javascript" src="libs/bootstrap3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="converall" style="height:100%">
		


<div class="container-fluid">
   <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
         <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle= "collapse" data-target="#nav-links">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>

            <a href="index.html" class="navbar-brand"><img src="images/hb-logo.png" alt=""></a>
         </div>

         <div class="collapse navbar-collapse" id="nav-links">
            <ul class="nav navbar-nav navbar-right">
               <li id="login-link"><a href="login.html">Login</a></li>
               <li><a href="register.html">Register</a></li>
               <li><a href="books.html">Books</a></li>
            </ul>
         </div>

      </div>
   </nav>
</div>



   <!--==========================================-->
   <!--===============Content area===============-->
   <!--==========================================-->
<div class="container-fluid converall">
   <div class="container content-area">
      <div class="row">
         <div class="col-md-6 col-md-offset-3">
            <h1>Hello Books</h1>
            <p>Hello books allows you to borrow books that have been gathered from 
                different part of the  world. Finding books of your choice 
               just got easier with us.
            </p>
            
            <a href="more.html">
               <button type="button" class="btn btn-primary btn-md" id="more">Get to know more</button>
            </a>

            <a href="register.html">
               <button type="button" class="btn btn-primary btn-md" id="more">Sign Up</button>
            </a>

         </div>
      </div>
   </div>

   <!--==========================================-->
   <!--===============Content area===============-->
   <!--==========================================-->

</div>


<div class="container home-books">
      <div class="row">
         <div class="col-xs-12 books-holder-title">
            <h1>Trending Books</h1>
         </div>
      </div>



   <div class="row books-holder">
      <div class="col-xs-12 col-sm-6 col-md-3">
         <div class="book-holder-prot">
            <div class="item book-title" align="center">
               <h5><strong>Learn Angular</strong></h5>
            </div>
            <div class="item img-holder" align="center">
               <img src="images/books/book1.png" alt="">
                  <div class="img-overlay">
                     <p>Learn Angular 2 by <strong>Abbey Balogun</strong></p>
                  </div>
            </div>
            <div class="dets">
               <a href="bookdetails.html"><button type="button" class="btn btn-success">DETAILS</button></a>
               <p>2 Available</p>
            </div>
         </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
         <div class="book-holder-prot">
            <div class="item book-title" align="center">
               <h5><strong>Spirit of God</strong></h5>
            </div>
            <div class="item img-holder" align="center">
               <img src="images/books/book4.jpg" alt="">
                  <div class="img-overlay">
                     <p>Spirit of God by <strong>Abbey Balogun</strong></p>
                  </div>
            </div>
            <div class="dets">
               <a href="bookdetails.html"><button type="button" class="btn btn-success">DETAILS</button></a>
               <p>2 Available</p>
            </div>
         </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
         <div class="book-holder-prot">
            <div class="item book-title" align="center">
               <h5><strong>Act Like Success</strong></h5>
            </div>

            <div class="item img-holder" align="center">
               <img src="images/books/book5.jpg" alt="">
                  <div class="img-overlay">
                     <p>Act Like Success by <strong>Steve Harvey</strong></p>
                  </div>
            </div>
            <div class="dets">
               <a href="bookdetails.html"><button type="button" class="btn btn-success">DETAILS</button></a>
               <p>2 Available</p>
            </div>
         </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
         <div class="book-holder-prot">
            <div class="item book-title" align="center">
               <h5><strong>Practical Business Analytics</strong></h5>
            </div>

            <div class="item img-holder" align="center">
               <img src="images/books/book22.jpg" alt="">
                  <div class="img-overlay">
                     <p>Practical Business Analytics by <strong>Abbey Balogun</strong></p>
                  </div>
            </div>
            <div class="dets">
               <a href="bookdetails.html"><button type="button" class="btn btn-success">DETAILS</button></a>
               <p>2 Available</p>
            </div>
         </div>
      </div>
   </div>
   

   <div class="row">
         <div class="col-xs-12">
            <div class="home-message">
               <a href="register.html" class="btn btn-success btn-lg">Register to see more </a>
            </div>
         </div>
      </div>
</div>   

</body>
</html>