<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width = device-width initial-scale=1.0">
	<title>New User Signup</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="libs/bootstrap3.3.7/css/bootstrap.min.css">
   	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/jquery-3.2.0.js"></script>
	<script type="text/javascript" src="libs/bootstrap3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background:images/newbg.png">
	
<style>
		body{
			background: url('images/newbg.png');
			background-size: cover;
			background-repeat: no-repeat;
		}

	.navbar{
		background-color: #0F488A !important;
		border:none !important;
		text-align: right;
		width: 100% !important;
	}

	.navbar-brand img{
		max-height: 60px;
		margin-top: -19px;
	}
</style>

   <div class="container-fluid">
   <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
         <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle= "collapse" data-target="#nav-links">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>

            <a href="index.html" class="navbar-brand"><img src="images/hb-logo2.png" class="img-responsive" alt=""></a>
         </div>

         <div class="collapse navbar-collapse" id="nav-links">
            <ul class="nav navbar-nav navbar-right">
               <li><a href="index.html">Home</a></li>
               <li><a href="login.html">Login</a></li>
               <li><a href="register.html">Register</a></li>
         </div>
      </div>
   </nav>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="form-header">
				<div class="item signup">
					<h1>Signin</h1>
				</div>


				<div class="item signup-side-text">
					<p>Already registered? <a href="register.html">Signup</a></hp>
				</div>
			</div>

			<div class="sigup-bg">
				<form action="#" class="signup-form center-block">
					<div class="row">
						<div class="form-group col-sm-12">
							<label for="email">Email <span>*</span></label>
							<input type="email" class="form-control input-sm" id="email" required>
						</div>

						<div class="form-group col-sm-12">
							<label for="password">Password <span>*</span></label>
							<input type="password" class="form-control input-sm" id="password" required>
						</div>

						<div class="form-group col-sm-12">
							<a href="#" id="forgot-password" data-toggle="modal" data-target="#forgotpassword">Forgot Password</a>
						</div>


						<!-- forgot password modal -->
							<div class="modal fade" role="dialog" id="forgotpassword">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h1>Reset Password</h1>
											<p>Please your email</p>
										</div>

										<div class="modal-body center-block">
												<div class="form-group col-sm-12">
													<label for="email">Email <span>*</span></label>
													<input type="email" class="form-control input-sm" id="email" required>
												</div>

												<div class="form-group col-sm-12">
													<a href="success.html" type="button" class="btn btn-primary btn-recover center-block">Recover password</a>
												</div>
										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>


						<!-- forgot password modal ends-->

						<div class="form-group col-sm-12">
							<a href="books.html" type="button" class="btn btn-primary btn-submit center-block">SIGN IN</a>
						</div>		
					</div>
				</form>


				<div class="form-group col-sm-12 google-signup">
					<div class="small-g">
						G
					</div>
					<button type="button" class="btn btn-submit center-block">Google signin</button>	
				</div>
			</div>
		</div>
	</div>
</div>


	<!-- FOOTER -->
    <div class="footer">
        <p>All rights Resereced, Andela Bootcamp 25, 2017</p>
    </div>
	
</body>
</html>