<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width = device-width initial-scale=1.0">
   <title>New User Signup</title>
   <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="css/font-awesome/css/font-awesome.css">
   <link rel="stylesheet" href="libs/bootstrap3.3.7/css/bootstrap.min.css">
      <script type="text/javascript" src="js/main.js"></script>
   <script type="text/javascript" src="js/jquery-3.2.0.js"></script>
   <script type="text/javascript" src="libs/bootstrap3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
   
<style>
   .navbar{
      background-color: #0F488A !important;
      border:none !important;
      text-align: right;
      width: 100% !important;

   }

   .nav li a{
         background: transparent !important;
   }

   .nav li a:hover{
         background: transparent !important;
   }

   .dropdown-menu {
      /*word-wrap:break-word;
      width: 300px;
      max-width: 300px;*/
      background: #0F488A;
      text-align: center;
      /*text-align: center;*/
      
   }


   .dropdown-menu li a{
      color: white !important;
      text-align: center;  
      width: 300px;
      max-width: 300px;
   }
</style>

   <nav class="navbar navbar-default" role="navigation">
      <div class="container">
         <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle= "collapse" data-target="#nav-links">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>

            <a href="" class="navbar-brand"><img src="images/hb-logo2.png" alt=""></a>
         </div>

         <div class="collapse navbar-collapse" id="nav-links">
            <ul class="nav navbar-nav navbar-right">
               <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope"></i>
                 </a>
                  <ul class="dropdown-menu">
                        <li><a href="books.html">Learn Angular 2 is now available</a></li>
                        <li><a href="books.html">You have pending book returns </a></li>
                        <li><a href="books.html">New book uploaded</a></li>
                     </ul>
               </li>
               <li>
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     <img src="images/icon.png" alt="" height="30" width="30"><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="profile.html">My profile</a></li>
                        <li><a href="history.html">Borrow History</a></li>
                        <li><a href="books.html">Books</a></li>
                        <li class="divider"></li>
                        <li><a href="login.html" class="btn btn-danger btn-sm logout">Logout</a></li>
                     </ul>
               </li>
            </ul>
         </div>
      </div>
   </nav>


<!-- SECTION FOR BOOKS  -->
<!-- ****************** -->


  <div class="container profile">
    <div class="row">
      <div class="col-xs-12">
        <div class="profile-header">
          <h3>MY PROFILE</h3>
        </div>
      </div>
    </div>

      <!-- Holds the profile details -->
    <div class="row">
      <div class="col-xs-12">
        <div class="profile-details">
          <div class="details">

              <div class="profile-image-holder">
                <img src="images/abbey.jpg" class="img-circle img-resposive" alt="">
              </div>
            <!-- name -->
              <div>
                <h4>Abbey Delight</h4>
                <p>Joined: 11h August, 2017 | delighteddell@gmail.com</p>
                <p>Member level: Bronze (Contribute books to upgrage)</p>
                <a href="">Change Password</a>
              </div>

              <div class="change-password">
                <form action="">
                  <div class="form-group col-sm-12">
                    <input type="text" placeholder="Current password" id="currentPassword" class="form-control input-sm">
                  </div>

                  <div class="form-group col-sm-12">
                    <input type="text" placeholder="New Password" id="cnewPassword" class="form-control input-sm">
                  </div>

                  <div class="form-group col-sm-12">
                    <input type="text" placeholder="Confirm new password" id="confirmNewPassword" class="form-control input-sm">
                  </div>

                  <div class="form-group col-sm-12">
                    <button type="button" class="btn btn-sm">SAVE</button>
                  </div>
                </form> 
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>    


</body>
</html>