.books{
	margin: auto !important;
}

.home-books{
	margin-top: 4%;
	padding-bottom: 5%;


}

.books-holder-title h1{
	font-size: 40px;
	padding: 0;
	margin:20px;
	color: #0F488A;
}

.search-filter{
	margin: 20px;
}

.books-holder{
	/*height: 350px;*/
	margin: 0 auto;
}

.book-holder-prot{
	max-height: 349px;
	max-width: 242px;
	border-radius: 5px;
	padding-bottom: 15px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.09);
	margin: auto;
	
}

.book-title{
	padding-top: 5px;
	font-size: 10px;
}

.book-holder-prot .img-holder{
	max-height: 250px;
	max-width: 220px;
	margin: 0 auto;
	margin-top: 7px;
	height:250px;
	position: relative;
}

.book-holder-prot img{
	max-height: 250px;
	max-width: 200px;
	margin: 0 auto;
	margin-top: 7px;
	min-height: 25px;
	min-width: auto;
}

.book-holder-prot .img-overlay{
	max-height: 91.2px;
	max-width: 220px;
	position: absolute;
	right:0;
	left: 0;
	bottom: -7px;
	overflow: hidden;
	height: 0%; 
	-webkit-transition: height 0.5s;
	background: #0F488A;;
	color: white;
	display: flex;
	align-items:center;
	justify-content:center;
}
	

.book-holder-prot:hover .img-overlay {
	height: 100%;
}


.book-holder-prot:hover {
	box-shadow: 0 2px 21px 0 rgba(0,0,0,0.19);
}

.book-holder-prot .dets {
	max-height: 70px;
	max-width:200px;
	margin:15px auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.book-holder-prot .dets button {
	background: #0F488A;
}

.book-holder-prot .dets p {
	margin: auto;
	text-align: center;	
}

.trending-book-holder-prot {
    max-height: 449px;
	max-width: 352px;
	padding-right: 15px;
	padding-left: 15px;
    border-radius: 5px;
    padding-bottom: 15px;
    margin: auto;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.09);

}

.trending-book-holder-prot .img-holder{
	max-height: 250px;
	max-width: 220px;
	margin: 0 auto;
	margin-top: 7px;
	height:250px;
	position: relative;
}

.trending-book-holder-prot img{
	max-height: 250px;
	max-width: 200px;
	margin: 0 auto;
	margin-top: 7px;
	min-height: 25px;
	min-width: auto;
}

.trending-book-holder-prot .img-overlay{
	max-height: 91.2px;
	max-width: 220px;
	position: absolute;
	right:0;
	left: 0;
	bottom: -7px;
	overflow: hidden;
	height: 0%; 
	-webkit-transition: height 0.5s;
	background: #0F488A;;
	color: white;
	display: flex;
	align-items:center;
	justify-content:center;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.trending-book-holder-prot:hover .img-overlay {
	height: 100%;
}


.trending-book-holder-prot:hover {
	box-shadow: 0 2px 21px 0 rgba(0,0,0,0.19);
}

.trending-book-holder-prot .dets {
	max-height: 70px;
	max-width:200px;
	margin:15px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.trending-book-holder-prot .dets button {
	background: #0F488A;
}

.page-footer {
	background-color: #0F488A;
	text-align: center;
	padding-bottom: 10px;
}