*h3 {
  margin: 0;
  padding: 0;
}

*.custom {
  background-color: $custom-color
}

*.custom:hover {
  background-color: $custom-color
}

*.uploadImage {
  .btn {
    width: 50%;
  }
}
.toggle-nav {
  cursor: pointer
}

#userprofile {
  background: $custom-color;
  .user-view-bg {
    background: $custom-color
  }

  a {
     color: white;
  }

  img {
    margin: auto;
  }

  #dashboard {
    text-align: center;
  }
}

.content-display {
    margin: auto;
    width: 100%;
    margin: auto;
  }

  .userDashboard {
    // background-color: black;
    margin-top: 3%;
    display: flex;
    -webkit-display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    div {
      max-width: 300px;
      margin-bottom:3%;
    }
  }

  .main-container {
    // margin: auto;
  }

  img {
      max-height: 300px;
    }
  
  table {
    // margin-left: -100px;
    td, th {
    padding: 5px 5px;
  }

  .btn, .btn:hover {
    background-color: $custom-color
  }
}

.successMessage {
    margin-top: 5%;
    margin: auto;
    // background:rgba(0, 0, 0, 0.2);
    max-height: 300px;
    max-width: 400px;
    font-size: 20px;
    padding: 20px;
    color: green;
    border-radius: 10px;

    img {
      max-height: 120px;
    }
  }

  .failureMessage {
    margin-top: 5%;
    margin: auto;
    // background:rgba(0, 0, 0, 0.2);
    max-height: 300px;
    max-width: 400px;
    font-size: 20px;
    padding: 20px;
    color: red;
    border-radius: 10px;

    img {
      max-height: 120px;
    }
  }

  .filter-table {
    margin-bottom: 4%;
    height:5px;
  }

  table {
    .btn {
        max-width: 70%;
        text-transform: uppercase;   
    }
  }

  .profile {
    margin-top:6%;

    .btn {
      width:60%;
      font-size: 12px;
    }
    
    .profile-holder {
      max-width: 580px;
      margin: auto;
      box-shadow: 0 6px 12px 0 rgba(0,0,0,0.08) !important;
      border-radius: 5px;
      padding-top: 40px;
      position: relative;
      margin-top: 10px;
      padding-bottom: 50px;
      transition: height 2s;
      -webkit-transition: height 2s;
    }

    .details {
    max-width: 394px;
    margin: auto;
    margin-top: 20px;
    text-align: center;

    .profile-image-holder {
      max-width: 100px;
      margin: 0 auto;
      top: -55px;
      left: 0;
      right: 0;
      position: absolute;

      .change-image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100px;
        height: 100px;
        text-align: center;
        word-wrap: break-word;
        color: white;
        display: none;

        i {
          margin-top: 30%;
        }

        h6 {
          padding: 0;
          margin: 0;
          font-size: 13px;
        }
      }
    }

    table {
     margin: auto;
    }
    .change-password {
      max-width: 300px;
      margin: auto;
      margin-top: 30px;


      form {
        input {
          width: 80%;
          height: 20px;
          margin: 0;
        }

        .btn {
          width: 100%;
          // height: 50%;
        }
      }
    }
  }
}

.admindashboard {
  margin-bottom: 100px;

  .bookslist {
    table {
      max-width: 100%;
    }
    th {
      background-color: $custom-color;
      color:white;
    }

    td {
      button {
        background-color: transparent;
        border: none;
      }
    }

    img {
      max-height: 50px;
      max-width: 50px;
    }

    i {
      cursor: pointer;
    }
  }

  table {
    max-width: 450px;
  }

  .selectFilter {
    margin-top: 6%;
    max-width: 250px;

    label {
      font-size:18px;
      font-weight: bold;
      color: black
    }
  }

}

.createBookForm {
  max-width: 580px;
  margin: auto;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.08) !important;
  border-radius: 5px;
  padding-top: 2px;
  margin-top: 5px;
  padding-bottom: 50px;
  transition: height 2s;
  -webkit-transition: height 2s;

  .create-book {
    margin: 0 auto;
    max-width: 400px;
  }
  .create-form {
    max-width: 300px;
    margin: 0 auto;
  }

  form {

    *.row {
      margin-bottom: 0;
    }

      label {
        span {
        color: red;
      }
    }
  
    #newCategory {
      color: black;
      font-size: 10px;
      float: right;
      cursor: pointer;
      color: $custom-color
    }

     #newCategory:hover {
      text-decoration: underline;
    }

    input {
      height: 50px;
    }
    textarea {
      padding: 0;
    }
    .btn {
      font-size: 13px;
      span {
        color:white;
      }
    }

    .submitBtn {
        width: 100%;
        border: none;
        color: white;
    }
  }
}