*h3 {
  margin: 0;
  padding: 0;
}

.toggle-nav {
  cursor: pointer
}

#userprofile {
  background: $custom-color;
  .user-view-bg {
    background: $custom-color
  }

  a {
     color: white;
  }

  img {
    margin: auto;
  }

  #dashboard {
    text-align: center;
  }
}

.content-display {
    margin: auto;
    width: 100%;
    margin: auto;
  }

  .userDashboard {
    // background-color: black;
    margin-top: 3%;
    display: flex;
    -webkit-display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    div {
      max-width: 300px;
      margin-bottom:3%;
    }
  }

  .main-container {
    // margin: auto;
  }

  img {
      max-height: 300px;
    }
  
  table {
    // margin-left: -100px;
    td, th {
    padding: 5px 5px;
  }

  .btn, .btn:hover {
    background-color: $custom-color
  }
}

.successMessage {
    margin-top: 5%;
    margin: auto;
    // background:rgba(0, 0, 0, 0.2);
    max-height: 300px;
    max-width: 400px;
    font-size: 20px;
    padding: 20px;
    color: green;
    border-radius: 10px;

    img {
      max-height: 120px;
    }
  }

  .failureMessage {
    margin-top: 5%;
    margin: auto;
    // background:rgba(0, 0, 0, 0.2);
    max-height: 300px;
    max-width: 400px;
    font-size: 20px;
    padding: 20px;
    color: red;
    border-radius: 10px;

    img {
      max-height: 120px;
    }
  }

  .filter-table {
    margin-bottom: 4%;
    height:5px;
  }

  table {
    .btn {
        max-width: 70%;
        text-transform: uppercase;   
    }
  }

  .profile {
    margin-top:6%;

    .btn {
      width:60%;
      font-size: 12px;
    }
    
    .profile-holder {
      max-width: 580px;
      margin: auto;
      box-shadow: 0 6px 12px 0 rgba(0,0,0,0.08) !important;
      border-radius: 5px;
      padding-top: 40px;
      position: relative;
      margin-top: 10px;
      padding-bottom: 50px;
      transition: height 2s;
      -webkit-transition: height 2s;
    }

    .details {
    max-width: 394px;
    margin: auto;
    margin-top: 20px;
    text-align: center;

    .profile-image-holder {
      max-width: 100px;
      margin: 0 auto;
      top: -55px;
      left: 0;
      right: 0;
      position: absolute;

      .change-image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100px;
        height: 100px;
        text-align: center;
        word-wrap: break-word;
        color: white;
        display: none;

        i {
          margin-top: 30%;
        }

        h6 {
          padding: 0;
          margin: 0;
          font-size: 13px;
        }
      }
    }

    table {
     margin: auto;
    }
    .change-password {
      max-width: 300px;
      margin: auto;
      margin-top: 30px;


      form {
        input {
          width: 80%;
          height: 20px;
          margin: 0;
        }

        .btn {
          width: 100%;
          // height: 50%;
        }
      }
    }
  }
}