// *********************************//
// style for registration and login
// *********************************//
*.btn {
        width: 100%;
      }

.form-holder {
  // max-width: 400px;
  height: auto;
  margin: auto;
  // margin-top: 5%;

  .form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-flex-direction: row;
    color: white;

    h2 {
      padding: 0;
      margin: 0, 0,5px;
    }

    div {
        display: flex;
        flex-direction: row;
        align-items: center;

        a, p {
          color: white;
          margin-bottom: -5%; 
        }
        a:hover {
          color: white;
          text-decoration: underline;
        }
        button {
          width: 100%;
        }
    }

  }

  .user-form {
    background: #F9F9F9;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    
    label {
      span {
        color: red;
      }
    
      input {
        color: black;
      }
    }

      .forgotPass {
        color: black;
        font-size: 15px;
        }
      .forgotPass:hover {
        text-decoration: underline;
        }
  }
}

.passwordModal {
  background-color: black;
  button{
    width: 50%;
  }
}

// @media (max-width: 400px) {
//   .form-holder {
//   margin-top: 30%;
// }
// }