html{
	margin: 0;
	height: 100%;
}

h1{
	margin: 0;
	padding: 0;
}

.converall {
	background: url('../images/newbg.png');
	background-size: cover;
	min-height: 100%;
	background-repeat: no-repeat;
	position: relative;
}


.navbar{
	background-color: transparent !important;
	border: none !important;
}

.navbar-default{
	height: auto;
	border:none !important;
	padding: 0;
	margin: 0;
}

.navbar-header{
	border:none !important;
}

.navbar-nav{
	border:none !important;
	line-height: 100px;
	border:none;
}

.nav li{
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}


.nav li a{
	color: white !important ; 
	/*height: 100px*/;
	width: 100px;
	height: 100%;
}

.nav li a:hover{
	color: #017eb7 !important ; 
	background-color: #fff !important;
	border-radius: 30px;
	-webkit-transition: background-color 0.5s;
}

.navbar-brand img{
	margin-top: -10px;
	margin-left: 6%;
	max-height: 60px;
	max-width: auto;
}


.dropdown img{
	max-height: 30px;
	max-width: auto;
}

.dropdown-menu a:hover{
	background: #0F488A;
}

.dropdown-menu li a {
	color: black !important;
	text-align:center;
}


.dropdown-menu li .logout{
	width: 100%;
	color: white !important;
	background: red;
	max-height: 50px;
}


.dropdown-menu li .logout:hover{
	background: red !important;
	border-radius: 0px !important;
	color: white !important;
}


.content-area {
	padding-bottom: 30px;
	padding-top: 30px;
	height: auto;
	width: 80%;
	margin-top: 8%;
	text-align: center;
}

.content-area h1{
	color: white;
	font-family: sans-serif; 
	font-size: 80px;
}

.content-area p{
	margin-top: 5%; 
	color: white;
}

.content-area button{
	margin-top: 5%; 
	background: #017eb7;
	padding-bottom: 3%;
	padding-top: 3%;
	margin-left: 2%;
	margin-right: 2%;
	min-width: 40%;
	background: #017eb7;
	-webkit-transition: background 1s;
	-o-webkit-transition: background 0.5s;
	-ms-webkit-transition: background 0.5s;
}


.content-area button:hover{
	background: rgba(0,0,0,0.6);
}


/*******************************************************/
/****Content Area Media Queries for phones and tabs*****/
/*******************************************************/

@media screen and (min-width: 80px) and (max-width: 170px){
	.content-area{
		margin-top: 35%;
	}

	.content-area h1{
		font-size: 30px
	}

}


@media screen and (min-width: 170px) and (max-width: 400px){
	.content-area{
		margin-top: 37%;
	}

	.content-area h1{
		font-size: 30px
	}

	.content-area p{
		width: 100%;
	}

}


@media screen and (min-width: 401px) and (max-width: 600px){
	.content-area{
		margin-top: 35%;
	}

	.content-area h1{
		font-size: 50px
	}

	.content-area p{
		width: 100%;
	}
}


@media screen and (min-width: 601px) and (max-width: 800px){
	.content-area{
		margin-top: 25%;
	}

	.content-area p{
		font-size: 150%;
	}

	.content-area h1{
		font-size: 80px;
	}

	.content-area button {
		height: 100%;
		width: auto;
	}

}

@media only screen and (min-width: 801px) and (max-width: 1100px){
	.content-area {
		margin-top: 35%;
	}

	.content-area p{
		font-size: 30px;
		width: 100%;
	}

	.content-area h1{
		font-size: 80px;
	}

	.content-area button {
		height: 100%;
		width: auto;
	}

}


@media only screen and (min-width: 1200px) and (max-width: 1400px){
	.content-area {
		margin-top: 0%;
	}

	.content-area p{
		font-size: 30px;
		width: 100%;
	}

	.content-area h1{
		font-size: 80px;
	}
}



/*SIGNUP AREA*/
.sigup-bg{
	background: #F9F9F9;
	padding-bottom: 50px;
	padding-top: 30px;
	max-width: 360px;
	margin:0 auto;
}


#forgot-password{
	font-size: 12px;
}

.google-signup{
	background: #E8E8E8 !important;
	border-radius:5px;
	/*width: 100%;*/
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
	color: white;
}


.google-signup button:hover{
	background: #F40000 !important;
	color: white !important;
}


.google-signup button{
	background: #F40000 !important;
}

.small-g{
	background: #B00101;
	width: 20%;
	min-height: 34px;
	position: absolute;
	text-align: center;
	border-radius: 5px;
	color: white;
	padding-top: 1.5%;

}



.form-header{
	margin: 0 auto;
	padding: 0;
	margin-top: 100px;
	padding-bottom: 5px;
	padding-top: 5px;
	max-width: 360px;
}


.form-header2{
	margin: 0 auto;
	padding: 0;
	margin-top: 10px;
	padding-bottom: 10px;
	padding-top: 5px;
	max-width: 360px;
	color: white;
}


.form-header2 .signup{
	vertical-align: middle;
	display: inline-block;
}

.form-header2 .signup-side-text{
	padding-top: 30px;
	padding-bottom: 30px;
	display: inline-block;
	float: right;
	color: white;
}

.form-header2 .signup-side-text a{
	color: white;
}

.form-header2 .signup-side-text a:hover{
	color: white;
}


.form-header .signup{
	vertical-align: middle;
	display: inline-block;
	color: white;
}


.form-header .signup-side-text{
	padding-top: 30px;
	padding-bottom: 30px;
	display: inline-block;
	float: right;
	color: white;
}

.form-header .signup-side-text a{
	color: white;
}

.form-header .signup-side-text a:hover{
	color: white;
	text-decoration: underline;
}


.form-group span{
	color: red;
}

.signup-form{
	width: 70%;
}


.btn-submit{
	background: #0F488A !important;
	width: 100%;
	border-radius: px;
	border:none !important;
}


/*SIGNUP AREA ENDS*/

.books{
	margin: auto !important;
}

.home-books{
	margin-top: 12%;

}

.home-message{
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;

}

/*Styles books page*/
.books-holder-title h1{
	font-size: 40px;
	padding: 0;
	margin:20px;
	color: #0F488A;
}

.search-filter{
	margin: 20px;
}

.books-holder{
	/*height: 350px;*/
	margin: 0 auto;
}

.book-holder-prot{
	max-height: 347px;
	max-width: 222px;
	border-radius: 5px;
	padding-bottom: 15px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.09);
	margin: auto;
	
}

.book-title{
	padding-top: 5px;
}

.book-holder-prot .img-holder{
	max-height: 250px;
	max-width: 200px;
	margin: 0 auto;
	margin-top: 7px;
	height:250px;
	position: relative;
}

.book-holder-prot img{
	max-height: 250px;
	max-width: 200px;
	margin: 0 auto;
	margin-top: 7px;
	min-height: 25px;
	min-width: auto;
}

.book-holder-prot .img-overlay{
	max-height: 91.2px;
	max-width: 200px;
	position: absolute;
	right:0;
	left: 0;
	bottom: -7px;
	overflow: hidden;
	height: 0%; 
	-webkit-transition: height 0.5s;
	background: #0F488A;;
	color: white;
	display: flex;
	align-items:center;
	justify-content:center;
}



.book-holder-prot:hover .img-overlay{
	height: 100%;
}


.book-holder-prot:hover{
	box-shadow: 0 2px 21px 0 rgba(0,0,0,0.19);
}

.book-holder-prot .dets{
	max-height: 70px;
	max-width:200px;
	margin:15px auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.book-holder-prot .dets p{
	margin: auto;
	text-align: center;	
}

/*Styles books page*/





/*Styles user profile page*/
.profile{
	/*background: black;*/
}


.notification{
	float: right;
	margin-top:15px;
	max-width: 200px;
	width: 200px;
	display: flex;
	align-items:center;
	justify-content:space-between;
}

.notify-icon{
	position: relative;
	max-height: auto;
	max-width: auto;
	font-size: 20px;
	color: white;
}

.fa-envelope {
	color: white !important;
}

.notification-number{
	position: absolute;
	/*background: red;*/
	left:10px;
	margin-left: 20px;
	color: red;
	top: 1px;
	margin:0 auto;
	font-size: 10px;
}

.user-holder img{
	max-height: 30px;
	max-width: auto;
}


.profile-header{
	margin: 0 auto;
	padding: 0;
	padding-bottom: 50px;
	padding-top: 5px;
	background: white;
	text-align: center;
	font-size: 15px;
}


.profile-image-holder{
	max-width:155px;
	margin: 0 auto;
	top: -55px;
	left: 0;
	right: 0;
	position: absolute;

}

.profile-image-holder img{
	box-shadow: 0 6px 12px 0 rgba(0,0,0,0.08);
	max-height: 100px;
	max-width: 100px;
}

.profile-details{
	max-width: 580px;
	height: 400px;
	margin: auto;
	box-shadow: 0 6px 12px 0 rgba(0,0,0,0.08) !important;
	border-radius: 5px;
	padding-top: 40px;
	position: relative;
	margin-top: 10px;
	
}

.details{
	max-width: 394px;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

.change-password{
	max-width: 260px;
	background: white;
	margin:auto;
	margin-top: 30px;
}

.change-password button{
	background: #7ED321;
	border-radius: 3px;
	max-width: 100px;
	max-height: 30px;
	margin-top: 20px;
}

/*ends user profile page*/



/*History page style*/


.history-header{
	margin: 0 auto;
	padding: 0;
	padding-bottom: 10px;
	padding-top: 5px;
	background: white;
	text-align: center;
	font-size: 15px;
}


.summary_img-holder{
	height:auto;
}



.summary_img-holder th{
	height: 20px !important;
}

.list-books{
	margin-top: 30px;
}

.table>tbody>tr>td{

	vertical-align: middle;
}

table td img{
	height: 60px;
	width:50px;
}

.summary-table{
	padding-bottom: 20px;
}

.summary-table th{
	padding-bottom: 10px;
	color: #41546D;
}

.summary-table td{
	padding-right: 30px;
	padding-bottom: 10px;
	color: #41546D;
}


.summary-header{
	color: #0F488A;
}

.summary-list{
	padding-bottom: 10px;
	padding-bottom: 10px;
}
/*History page style ends*/

.filter-table{
	margin-top: 20px;
}

.filter-table select{
	padding-left: 0;
}

.filter-table .item, .cats{
	padding-left: 0;
}



/*CREATE BOOK STYLE:ADMIN*/

.create-book{
	/*background: red;*/
	margin:0 auto;
	max-width: 400px;

}


.create-form{
	max-width: 300px;
	margin: 0 auto;
}



/*BOOK DETAILS*/

.book-dets{
	background: red;
	margin: 0 auto;
}	

..book-detail-image{
	margin: 0 auto;
}

.book-detail-image img{
	max-height: 250px;
	max-width:200px;
	margin: auto;
}

.book-detail-txt-holder {
	max-height: 509.8px;
	max-width:579.5px;
	/*background: red;*/
	height: 400px;
	border-bottom: 1px solid black;
}

.surcharge{
	padding-top: 25px;
	padding-bottom: 30px;
	background: #FF0000;
	max-width: 100px;
	max-height: 100px;
	color: white;
	text-align: center;
	margin: auto;
}

/*FOOTER*/

.footer{
	max-height: 200px;
	background: #0F488A;
	position: fixed;
	bottom: 0;
	padding-top: 15px;
	padding-bottom: 10px;
	width: 100%;
	color: white;
	text-align: center;

}