footer {
  text-align: center;
  color: white;
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.page-footer {
    background-color: $custom-color;
  }