$font-stack:    Helvetica, sans-serif;
$primary-color: black;
$custom-color: #0F488A;
@import '../../components/Footer/footer.scss';
@import '../../components/Navbar/navbar.scss';
@import '../../components/Home/home.scss';
@import '../../components/Books/books.scss';
@import '../../components/Useraccess/useraccess.scss';
@import '../../components/Userprofile/userstyle.scss';
@import '../../components/Userprofile/Allbooks/Allbooks.scss';
@import '../../components/About/about.css';
@import '../../components/NotFound/index.scss';



html, body {
height: 100%;
}
nav {
    background: transparent !important;
}

