$font-stack:    Helvetica, sans-serif;
$primary-color: black;
$custom-color: #0F488A;
@import '../../components/footer/footer.scss';
@import '../../components/navbar/navbar.scss';
@import '../../components/home/home.scss';
@import '../../components/books/books.scss';
@import '../../components/useraccess/useraccess.scss';
@import '../../components/userprofile/userstyle.scss';
@import '../../components/userprofile/Allbooks/Allbooks.scss';
@import '../../components/about/about.css';



html, body {
height: 100%;
}
nav {
    background: transparent !important;
}

